USE [master]
GO
/****** Object:  Database [ChatPath]    Script Date: 28.12.2021 21:29:24 ******/
CREATE DATABASE [ChatPath]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ChatPath', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ChatPath.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ChatPath_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ChatPath_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChatPath].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChatPath]
GO
USE [ChatPath]
GO
/****** Object:  Table [dbo].[Channel]    Script Date: 28.12.2021 21:29:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Channel](
	[ChannelID] [int] IDENTITY(1,1) NOT NULL,
	[ChannelName] [nvarchar](50) NOT NULL,
	[ChannelDescription] [nvarchar](100) NOT NULL,
	[AvatarFileName] [nvarchar](20) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Channel] PRIMARY KEY CLUSTERED 
(
	[ChannelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 28.12.2021 21:29:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[MessageID] [int] IDENTITY(1,1) NOT NULL,
	[ChannelID] [int] NOT NULL,
	[NickName] [nvarchar](50) NOT NULL,
	[MessageText] [nvarchar](500) NOT NULL,
	[Date] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Message] PRIMARY KEY CLUSTERED 
(
	[MessageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Channel] ON 

INSERT [dbo].[Channel] ([ChannelID], [ChannelName], [ChannelDescription], [AvatarFileName], [IsDeleted]) VALUES (1, N'Futbol', N'Futbola dair ne varsa', N'1', 0)
INSERT [dbo].[Channel] ([ChannelID], [ChannelName], [ChannelDescription], [AvatarFileName], [IsDeleted]) VALUES (2, N'Siyaset', N'Siyaset meydanı', N'2', 0)
INSERT [dbo].[Channel] ([ChannelID], [ChannelName], [ChannelDescription], [AvatarFileName], [IsDeleted]) VALUES (3, N'Ekonomi', N'Yatırım tavsiyesi değildir', N'3', 0)
SET IDENTITY_INSERT [dbo].[Channel] OFF
SET IDENTITY_INSERT [dbo].[Message] ON 

INSERT [dbo].[Message] ([MessageID], [ChannelID], [NickName], [MessageText], [Date], [IsDeleted]) VALUES (1, 1, N'Serkan', N'-gJmWTEztYa5RklWIlKEXvOuj8TRoymMbDxwIPyjGEX8Fn6ezMQrkautYbkk6HIGsYSjstLaxb3CaGD4HBpovw!!', CAST(N'2021-12-27T13:11:36.717' AS DateTime), 0)
INSERT [dbo].[Message] ([MessageID], [ChannelID], [NickName], [MessageText], [Date], [IsDeleted]) VALUES (2, 1, N'Ahmet', N'hhfFS65kvi5i-D2onFfF3bAUSoD0Nxca9USHUnpWhwS1hW3aGuTS-S69Ufxqs9zuDRA0uFM_TJuF9KWVxYugDg!!', CAST(N'2021-12-28T13:11:37.773' AS DateTime), 0)
INSERT [dbo].[Message] ([MessageID], [ChannelID], [NickName], [MessageText], [Date], [IsDeleted]) VALUES (3, 1, N'Ahmet', N'BlMWHGzPRsKmJWBu7h38JOCzC_AJEBGNT8MeffbDzl7yuCweSZMQd9cZ1MSMhfFm2-CG506UYiC6hmDh-bWcsaHXPp6AL15NalH4SBTTKy4!', CAST(N'2021-12-28T13:11:38.790' AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[Message] OFF
USE [master]
GO
